<div class="row animate fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          placeholder="Buscar Hospital"
          (keyup)="search(txtTerm.value)"
          #txtTerm
        />
      </div>
    </div>
  </div>
</div>

<div class="row animate fadeIn fast" *ngIf="load">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere...</p>
    </div>
  </div>
</div>

<!--tabla-->

<div class="row animate fadeIn fast" *ngIf="!load">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">
              Hospitales
              <span class="label label-success">({{ hospitals.length }})</span>
            </h4>
            <h6 class="card-subtitle">Hospitales Registrados</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary" (click)="openModalCreate()">
                <i class="fa fa-hospital-o"></i>
                Create Hospital
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w-100">Image</th>
                <th>Name</th>
                <th class="text-nowrap w-100">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td class="text-center">
                  <img
                    class="cursor w-100"
                    [src]="hospital.img | imagen: 'hospitales'"
                    [alt]="hospital.name"
                    (click)="abrirModal(hospital)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Hospital Name"
                    [(ngModel)]="hospital.name"
                  />
                </td>
                <td class="text-nowrap text-center">
                  <a
                    class="cursor"
                    (click)="updateHospital(hospital)"
                    data-toggle="tooltip"
                    data-original-title="Guardar Cambios"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="deleteHospital(hospital)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <!--<div *ngIf="txtTerm.value.length === 0">
            <button (click)="changePage(-5)" class="btn btn-secondary">
              Anteriores
            </button>
            &nbsp;
            <button (click)="changePage(5)" class="btn btn-secondary">
              Siguientes
            </button>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
